@import url('stylesheet.css');

*{
  font-family: 'airbnb_cereal_appmedium';
}

:root {
  
  --rs-text-active: black !important;
  --rs-btn-subtle-text: black !important;
  --rs-btn-subtle-hover-text: black !important;
  --rs-btn-subtle-hover-bg: rgb(245, 245, 245)!important;
  --rs-input-focus-border: rgba(255, 255, 255, 0) !important;
  --rs-listbox-option-hover-text: none !important;
}

/* 
* {
  color:#fc405f;
  --rs-state-focus-shadow:0 0 0 0px
  --rs-input-focus-border:#fc405f00
} */
/* ! Date Picker */
body {
  position: relative;
}

body .black {
  background-color: rgb(255, 255, 255);
}

.ui.menu {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.rs-picker-toolbar-right > button {
  margin: auto !important;
  position: absolute !important;
  background-color: transparent !important;
  color: transparent !important;
  position: relative !important;
  right: calc(((100vw - 849px)/2)) !important;
  width: 100vw !important;
  min-width: 100vw !important;
  height: 100vh !important;
  z-index: -1 !important;
}

.rs-picker-toolbar-right {
  position: relative !important;
  top: -443px;
  width: 849px !important;
  height: 0px !important;
}

.rs-picker-toolbar-ranges {
  position: unset !important;
  display: none !important;
}
.rs-picker-toolbar {
  position: absolute !important;
  left: 0px !important;
  padding: 0px !important;
  border: none !important;
}

.rs-ripple, .rs-ripple-rippling {
  background: transparent !important;
}

.rs-btn-icon.rs-btn-xs {
  border-radius: 50% !important;
}

.rs-picker-menu .rs-calendar .rs-calendar-table-header-row .rs-calendar-table-cell-content:hover {
  border: none !important;
  height: 0px !important;
}

.rs-calendar-table-cell-selected:before {
  display: flex !important;
  margin-top: 1px !important;
  height: 48px !important;
}

.rs-calendar-header-title {
  font-size: 16px !important;
}

.rs-icon {
  font-size: 19px !important;
  margin-top: -4px !important;
}

.rs-calendar-table-cell-content {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 48px !important;
  width: 48px !important;
}

.rs-calendar-month-dropdown {
  display: none !important;
}

.rs-calendar-table-cell-content:hover {
  color: black !important;
  height: 47px !important;
  width: 47px !important;
  background-color: inherit !important;
  border: 1px black solid;
  border-radius: 50% !important;
  padding: 4px !important;

}

.rs-calendar-table-cell:hover :not(.rs-calendar-table-cell-in-range:hover) {
  background: white !important;
}

.rs-calendar-table-cell-in-range:hover {
  background-color: rgb(245, 245, 245) !important;
}

.rs-calendar-table-cell-selected-start:before {
  background: linear-gradient(to right, white 49%, rgb(245, 245, 245) 50%) !important;
}

.rs-calendar-table-cell-selected-end:before {
  background: linear-gradient(to left, white 49%, rgb(245, 245, 245) 50%) !important;
}
.rs-calendar-table-cell-in-range:before {
  margin-top:  0.5px !important;
  height: 48px  !important;
  background-color: rgb(245, 245, 245) !important;
}

.rs-calendar-table-cell {
  width: 48px !important;
  height: 48px !important;
}


.rs-calendar-view {
  padding: 0px !important;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  background-color: black !important;
  height: 48px !important;
  width: 48px !important; 
  border-radius: 50%;
}



.rs-picker-toggle-wrapper {
  height: 100%;
  max-width: 100vw !important;
  position: absolute !important;
  width: 316px !important;
  transform: translate(0, 100%);
  padding: 0 !important;
  background: transparent !important;
}

.rs-picker-toggle {
  display: none !important;
}

.rs-picker-daterange-header {
  display: none !important;
}

.large-button .half {
  padding-left: 34px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 64px;
  box-shadow: 0 1px 10px 0 rgb(34 36 38 / 5%);
}

.search-header {
  font-family: 'airbnb_cereal_appbold';
  font-size: 12px !important;
}

.half > p {
  margin-top: 0;
  font-size: 14px;
}



.dates-clicked {
  width: 424px !important;
  transform: translate(9px);
  z-index: 100;
  background: rgb(255, 255, 255);
}

.location {
  width: 849px !important;
  transform: translate(8px);
  z-index: 100;
  background:linear-gradient(to left, rgb(139, 139, 139), white 60%);
}

.location:hover {
  background: linear-gradient(to left, rgb(139, 139, 139), rgb(245, 245, 245) 60%);
}


.dates {
  width: 848px !important;
  padding-left: 458px !important;
  transform: translate(9px);
  background-color: white;
  background:linear-gradient(to right, rgb(139, 139, 139), white 70%);
  
}

.location-clicked {
  width: 424px !important;
  transform: translate(calc(-100% + 7px));
  z-index: 100;
  background: white;
}

/* ! Hero - Home page */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 600px;
  background: 
  linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.2) 70%),
  url('https://cdn57.androidauthority.net/wp-content/uploads/2019/05/airbnb-experiences-farm-house.jpg');
  background-position: center;
  background-size: cover;
}

.hero-image {
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  width: 100vw;
  min-width: 300px !important;
  max-width: 500px;
  border-radius: 24px;
  position: absolute;
  background-color: white;
  box-shadow:  0 1px 3px 0 rgb(34 36 38 / 15%);
  z-index: 1;
}

.hero-button {
  display: flex;
  background-color: rgba(255, 255, 255, 0.616);
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 64px;
  border-radius: 32px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow:  0 1px 3px 0 rgb(34 36 38 / 15%);
  transition-duration: .4s;
}

h3 {
  font-family: 'airbnb_cereal_applight' !important;
  font-size: 18px !important;
  margin-bottom: 20px !important;
  color: rgb(255, 255, 255) !important;
  word-spacing: 0.1em;
  text-shadow: 1px 3px 2px rgb(0, 0, 0) !important;
}

.hero-button > p {
  font-family: 'airbnb_cereal_appbold';
  font-size: 17px;
  background: -webkit-linear-gradient(0deg, #26007e, #9500b3 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-button:hover {
  box-shadow:  0 3px 4px 0 rgb(34 36 38 / 15%);
}

.navbar-extended {
  height: 100%;
  width: 100vw;
  min-width: 400px;
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0px;
  top: 74px;
  transform: translate(-50%);
}

.rs-picker-toggle-textbox {
  border-radius: 24 !important;
  border: none !important;
  height: 100% !important;
}

 
/* !Calendar container */
.rs-picker-menu {

  border-radius: 32px !important;
  padding: 16px 32px !important;
  height: 450px !important;
  width: 849px !important;
  background-color: white !important;
  transform: translate(-50%);
  z-index: 200 !important;
  overflow: visible !important;
}

/* !Single calendar */
.rs-calendar {
  border: none !important;
  padding: 27px !important;
  height: auto !important;
  width: 50% !important;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 100%;
  height: 40px;
}

.dropdown-item:hover {
  background-color: rgb(250, 250, 250);
}

hr {
  border-top: rgb(220, 220, 220)
}

.dropdown-content {
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  min-width: 200px !important;
  border-radius: 24px;
  display: none;
  position: absolute;
  transform: translate(calc(-100% + 73.2px));
  background-color: white;
  box-shadow:  0 1px 3px 0 rgb(34 36 38 / 15%);
  z-index: 1;
}

.dropdown.item:hover {
  background: none !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50% !important;
  background-color: #fc405f;
  color: white
}

.user-icon {
  margin-left: 5px;
  height: 32px;
  width: 32px;

}

.navbar-item {
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-center {
  position: absolute !important;
  transform: translate(-50%) translate(50vw);
}

.navbar-secondary {
  padding: 0px !important;
}

.bars .icon {
  padding: 10px;
}

.search-data {
  display: flex;
}

.search-data > p {
  padding: 5px 10px;
  margin: 0;
  display: block;
}

.search-data > p:first-of-type {
  margin-left: 10px;
  border-right: 1px solid rgb(220, 220, 220);
}

.navbar-button {
  height: 48px;
  background-color: white;
  border-radius: 24px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow:  0 1px 3px 0 rgb(34 36 38 / 15%);
}

.navbar-button:hover {
  box-shadow:  0 3px 4px 0 rgb(34 36 38 / 15%);
}

.large-button {
  width: 850px;
  height: 64px;
  border-radius: 32px;
}

.large {
  font-size: 16px !important; 
}

.large-icon {
  font-family: 'airbnb_cereal_appblack';
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100px;
  border-radius: 24px !important;
  z-index: 102;
}

.popup-screen {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
} 

.popup-window {
  background-color: white !important;
}

/* EXPERIENCES.JS */

#left-column {
  padding: 0px 40px ;
}

.header-div {
  padding: 50px 0px;
}

.experience-segment {
  display: flex;
  padding: 20px 0px;
}

.experience-image {
  height: 250px;
  border-radius: 13px;
}

.right-content {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
}

.header {
  display: flex;
  justify-content: space-between;
}

#heart {
  color: black;
}

.what-we-will-do {
  font-weight: bold;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.reviews-and-price {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
}

/* Start of Map box */

.map {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url('https://traista.com/wp-content/uploads/2018/03/London-Google-map.png');
  background-size: no-repeat;
}

.map-container {
  position: fixed;
  width: 900px;
  height: 100vh;
}


.price-marker {
  background-color: white;
  color: black;
  border-radius: 14px;
  font-size: 15px;
  padding: 5px;
}
:hover.price-marker {
  background-color: black;
  color: white;
}
.marker {
  font-size: 20px;
}

.rocket {
  display: block;
  transform: translateX(-20px);
}

#popup {
  padding: 0 !important; 
  /* Why can't I overwrite this?! */
}



.images-in-map-card {
  display: flex;
  justify-content: space-between;
}

.image-on-left {
  height: 250px;
  width: 200px;
}

.images-in-map-card-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.image-on-right {
  height: 123px;
  width: 85px;
}
/* End of Experiences.js */






/* Experience Component Start */

.experiences-container {
  position: absolute;
  top: 100px;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  margin: auto 0; */
}
.rlss-container {
  display: flex;
  justify-content: space-between;
}

.rating-share-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Circle icon between rating and location - just below main header */
/* .circle-icon {
  position: fixed;
  top: 10px
} */

.experience-img-0 {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.experience-img-2 {
  width: 100%;
  height: 100px;
}

.experience-img-3 {
  width: 180px;
  height: 160px;
}

.experience-img-4 {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.rating-location {
  display: flex;
}

.ui.container.icon-style {
  border: 1px solid red;
}

/* Experience Hosted by Start */
.host-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.experience-details {
  display: flex;
}

/* Experience hosted by End */

/* Whats included card start */
.whats-included-container {
  display: flex;
  flex-direction: column;
}
.whats-included-card {
  padding: 20px !important;
}
/* Whats included card end */

/* Meet your host start */
.meet-your-host-header {
  display: flex;
}

.myh-image {
  width: 70px;
  border-radius: 100%;
  margin-right: 20px;
}

.myh-text {
  padding-top: 20px;
}
/* Meet your host end */

.exploring-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Similar Experiences Start */

.similar-experience-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Similar Experiences End */

/* Keep exporing  */
.ui.card.experience-card {
  width: 140px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* div.rating-share-icons {
  border: 1px solid red;
} */


/* .ui.container {
  width: 400px;
} */

/* Things to know start  */

div.things-to-know-container {
  padding-left: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

div.things-to-know-container div.things-to-know-element {
  width: 300px;
}

/* Things to know end */


/* Experience Component End */

/* 

input:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}
textarea:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
} */